html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  background-color: #181733 ;
  box-sizing: border-box;
  margin: 0;
}

/* navbar */

.navbar {
  align-items: center;
  display: flex;
  height: 45px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
}

.navbar h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 16px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  color: #fafafa;
  text-decoration: underline;
  text-underline-offset: 8px;
}


/* content */

.content-section {
  height: calc(100% - 45px);
}


/* loader */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


